@import url("variables.css");

.horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 0.81vmax), 1fr));
  gap: 0.81vmax;
  row-gap: 8.13vmax;
  padding-left: 8.13vmax;
  padding-right: 8.13vmax;
  margin-top: 1.63vmax;
  align-items: center;
  justify-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 4.07vmax;
  align-items: center;
  justify-content: center;
  margin-left: 0vmax;
}

.noPadding {
  padding: 0;
  margin: 0;
}

.smallPadding {
  padding-left: 0.81vmax;
  margin: 0;
}

.center {
  align-content: center !important;
  align-items: center !important;
  align-self: center !important;
  justify-content: center !important;
  display: flex;
  flex-direction: column;
  margin-top: 1.63vmax;
  gap: 1.63vmax;
}

.alignCenter {
  align-items: center;
}

table {
  border-collapse: collapse;
}

table tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table td,
table th {
  padding: 0.81vmax;
  color: var(--texto);
}
