@import url("variables.css");

.cart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  vertical-align: middle;
  text-align: center;
  margin-top: 0.81vmax;
  margin-left: 9.76vmax;
  margin-bottom: 0.81vmax;
  gap: 0.81vmax;
  width: 100%;
}

.cart-header-img {
  height: 2.44vmax;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.cart-header-text {
  color: var(--texto);
  font-family: "Inter";
  font-weight: 600;
  font-size: 2.2vmax !important;
  margin-top: auto;
  margin-bottom: auto;
}

.itemsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--destaque);
  padding-top: 1.63vmax;
  padding-bottom: 1.63vmax;
  margin-top: 2.44vmax;
  margin-right: 16.27vmax;
  margin-left: 16.27vmax;
  border-radius: 1.2vmax;
  width: auto;
}

.cart-container {
  width: 100%;
}

.cart-item {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.81vmax;
  margin-top: 0.81vmax;
  width: 61vmax;
  position: relative;
}

.cart-line {
  border-bottom: 1px solid var(--texto-hover);
  width: 48.8vmax;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.81vmax;
  margin-top: 0.81vmax;
}

.cart-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10.57vmax;
}

.cart-product-photo {
  height: 4.07vmax;
  max-width: 6.51vmax;
  border-radius: 0.3vmax;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product-info {
  display: flex;
  flex-direction: row;
  gap: 0.81vmax;
}

.controls-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.81vmax;
  justify-content: center;
  align-items: center;
  margin-right: 8.13vmax;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4vmax;
  right: 4.07vmax;
}

.controls button,
.controls .quantity {
  margin: 0;
}

.controls button {
  padding: 0.4vmax 0.81vmax;
  font-size: 0.81vmax;
}

.quantity {
  font-size: 0.81vmax;
}

.btn-enviar {
  margin-top: 2.44vmax !important;
  width: 9.76vmax !important;
  border-radius: 0.6vmax !important;
}

.cart-ico {
  width: 1.63vmax;
  right: 4.07vmax;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
  position: absolute;
}

.cart-ico:hover {
  filter: invert(62%) sepia(7%) saturate(1307%) hue-rotate(337deg)
    brightness(86%) contrast(84%);
}

.cart-ico:active {
  filter: invert(52%) sepia(15%) saturate(5812%) hue-rotate(346deg)
    brightness(80%) contrast(45%);
}

.cart-ico-button {
  width: 1.22vmax;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
}
