@import url("variables.css");

a {
  text-decoration: none !important;
}

label {
  color: var(--texto);
  font-family: "Inter";
  font-weight: 300;
}

.titulo {
  color: var(--texto);
  font-family: "Inter";
  margin-left: 5rem;
  font-weight: bold;
}

.texto {
  color: var(--texto);
  font-family: "Inter";
}

.bold {
  font-weight: bold;
}

.s10 {
  font-size: 0.55vmax;
}

.s11 {
  font-size: 0.6vmax;
}

.s12 {
  font-size: 0.66vmax;
}

.s15 {
  font-size: 0.82vmax;
}

.s16 {
  font-size: 0.88vmax;
}

.s20 {
  font-size: 1.1vmax;
}

.s22 {
  font-size: 1.21vmax;
}

.s24 {
  font-size: 1.32vmax;
}

.s26 {
  font-size: 1.43vmax;
}

.s30 {
  font-size: 1.65vmax;
}

.s40 {
  font-size: 2.2vmax;
}
