@import url("variables.css");

#react-footer {
  width: 100%;
}

.footer {
  margin-top: 5.25vmax;
}

.footerSections {
  display: flex;
  flex-direction: row;
  padding-left: 7.5vmax;
  padding-right: 7.5vmax;
  color: var(--texto);
  gap: 37.5vmax;
  justify-content: center;
}

.footerLine {
  color: var(--texto);
  width: 95%;
  margin: auto;
  margin-bottom: 1.5vmax;
}

.sectionCentral {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.sectionInstagram {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoInstagram {
  width: 2.25vmax;
  height: 2.25vmax;
}
.logoInstagram:hover {
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
}
.logoInstagram:active {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
}

.footerButton {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1.5vmax;
  cursor: pointer;
  font-size: 1vmax;
  font-weight: bold;
  background-color: var(--destaque);
  width: 100%;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}
.footerButton:hover {
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
  -moz-filter: brightness(95%);
}
.footerButton:active {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
  -moz-filter: brightness(85%);
}
