@import url("variables.css");

.form {
  align-items: center;
  justify-content: center;
}

.field {
  background-color: #35a7dc !important;
  color: white;
}

input,
textarea {
  height: 2.03vmax;
  border-radius: 0.3vmax;
  border: 0;
  color: var(--texto);
  background-color: var(--botao-off);
  align-items: center;
  justify-content: center;
  text-align: left;
  align-content: center;
  padding-left: 0.81vmax;
  padding-right: 0.81vmax;
  font-size: 0.88vmax !important;
}

.input-label {
  font-size: 1.21vmax !important;
  margin-right: 1vmax;
}

.edit-label {
  font-size: 0.88vmax !important;
}

textarea {
  padding-top: 0.81vmax;
  resize: none !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder);
}

#contato-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.inp1 {
  width: 100%;
  margin-top: 1.63vmax;
  margin-bottom: 0.61vmax;
  display: flex;
  flex-direction: row;
  gap: 1.22vmax;
}

.f1 {
  width: 12.2vmax;
  height: 2.44vmax;
}

.inp2 {
  width: 100%;
  margin-top: 0.61vmax;
  margin-bottom: 0.61vmax;
}

.f2 {
  width: 100%;
  height: 2.44vmax;
}

.inp3 {
  width: 100%;
  margin-top: 0.61vmax;
  margin-bottom: 1.63vmax;
}

.f3 {
  width: 100%;
  height: 9.76vmax;
}

#emailBtn {
  width: 6.51vmax;
  border-radius: 0.6vmax;
}

textarea:focus,
input:focus {
  outline: none;
}

select {
  height: 2.03vmax;
  border-radius: 0.3vmax;
  border: 0;
  padding-left: 0.81vmax;
  color: var(--texto);
  background-color: var(--botao-off);
}
