@import url("variables.css");

.background {
  width: 100%;
  height: 100%;
  background-color: var(--fundo);
}

.bg-logo {
  position: fixed;
  width: 100%;
  height: 100%;
  scale: 0.7;
  filter: opacity(0.05);
  pointer-events: none;
  z-index: -1;
}

.menuContato {
  background-color: var(--destaque);
  width: 70rem;
  height: 40rem;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.cat {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cabecalho {
  text-align: center;
  color: var(--texto);
}

.horizontal-edit-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.horizontal-line {
  border-bottom: 1px solid var(--texto);
  width: 100rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.vertical-line {
  border-left: 1px solid var(--texto);
  margin-left: 1.5rem;
  min-height: 100%;
}

.unselectable {
  user-select: none;
}
