@import url("variables.css");

.background {
  width: 100%;
  height: 100%;
  background-color: var(--fundo);
}

.bg-logo {
  position: fixed;
  width: 100%;
  height: 100%;
  scale: 0.7;
  filter: opacity(0.05);
  pointer-events: none;
  z-index: -1;
}

.menuContato {
  background-color: var(--destaque);
  width: 56.93vmax;
  height: 32.53vmax;
  border-radius: 0.9vmax;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.product-photo-edit {
  height: 4.07vmax;
  margin-top: 0.81vmax;
  margin-bottom: 0.81vmax;
  border-radius: 0.6vmax;
  cursor: grab;
}

.product-photo-edit:active {
  cursor: grabbing;
}

.drag-image {
  width: 0.81vmax !important;
  height: 0.81vmax !important;
  object-fit: contain;
  display: block;
}

.cat {
  padding-top: 4.07vmax;
  padding-bottom: 4.07vmax;
}

.cabecalho {
  text-align: center;
  color: var(--texto);
}

.horizontal-edit-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.81vmax;
  padding-left: 8.13vmax;
  padding-right: 8.13vmax;
}

.horizontal-line {
  border-bottom: 0.06vmax solid var(--texto);
  width: 81.33vmax;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.07vmax;
  margin-top: 4.07vmax;
}

.vertical-line {
  border-left: 0.06vmax solid var(--texto);
  margin-left: 1.22vmax;
  min-height: 100%;
}

.unselectable {
  user-select: none;
}
