@import url("variables.css");

#react-header {
  position: sticky;
  z-index: 10 !important;
  top: 0;
  background-color: var(--fundo);
  width: 100%;
  max-width: 100%;
  display: flex !important;
  align-items: center !important;
}

.header {
  background-color: var(--fundo);
  width: 100%;
  height: 6vmax;
  display: flex !important;
  align-items: center !important;
  justify-content: left;
  padding: 1vmax;
  margin: auto;
  z-index: 10 !important;
}

.headerHorizontal {
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: left;
  gap: 3vmax;
  margin: 0;
  margin-left: 3vmax;
  z-index: 10 !important;
}

.logoCapivaraPequena {
  width: 10vmax;
  margin: auto;
}

.textoHeader {
  color: var(--texto);
  white-space: nowrap;
  vertical-align: middle !important;
  margin: auto;
}

.textoHeader:hover {
  color: var(--texto-hover);
}

.textoHeader:active {
  color: var(--texto-click);
}

.textoHeader.active {
  color: var(--texto-click);
  font-weight: bold;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0.75vmax;
  background-color: var(--destaque);
  width: 14.25vmax;
  height: 1.75vmax;
  border-radius: 5px;
  margin: 0;
}

.searchIcon {
  width: 0.75vmax;
  margin: 0;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.searchText {
  background-color: transparent !important;
  height: 1.75vmax !important;
  width: 11.25vmax !important;
  margin: 0 !important;
  padding: 0 !important;
}

.searchContainer {
  display: flex !important;
  align-items: center !important;
}

.cartIcon {
  width: 2vmax;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
  margin: 0;
}

.cartIcon:hover {
  filter: invert(62%) sepia(7%) saturate(1307%) hue-rotate(337deg)
    brightness(86%) contrast(84%);
}

.cartIcon:active {
  filter: invert(52%) sepia(15%) saturate(5812%) hue-rotate(346deg)
    brightness(80%) contrast(45%);
}

a.active {
  pointer-events: none !important;
  cursor: default !important;
}

.submenuHorizontal {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: left;
  gap: 1vmax;
  margin: 0;
}

.submenuButton {
  width: 0.75vmax;
  rotate: 90deg;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
  margin: 0;
  transition: 0.5s ease;
}

.submenuButtonActive {
  width: 0.75vmax;
  transform: rotate(180deg);
  filter: invert(52%) sepia(15%) saturate(5812%) hue-rotate(346deg)
    brightness(80%) contrast(45%);
  cursor: pointer;
  margin: 0;
  transition: 0.5s ease;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0.5vmax;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--fundo);
  border-radius: 0 0 0.75vmax 0.75vmax;
}

.submenuItem {
  color: var(--texto);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.submenuItem:hover {
  color: var(--texto-hover);
}

.submenuItem:active {
  color: var(--texto-click);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2 !important;
}
