h1 {
  text-align: center;
}

div.pai {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.login {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 25px;
}
a {
  color: white;
  text-decoration: none;
  padding: 20px;
}


