.categorias-pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.categorias-links {
    display: flex;
    flex-direction: row;
    border: 1px solid red;

}