@import url("variables.css");

.produto {
  margin-left: 0vmax;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
}

.product-card {
  background-color: var(--botao-off);
  border-radius: 1.4vmax;
  display: flex;
  flex-direction: column;
  min-height: 12.2vmax;
  cursor: pointer;
}

.product-card:hover,
.product-card:hover .product-text,
.product-card:hover .product-views-text {
  background-color: var(--botao-hover);
  color: var(--texto-hover);
}

.product-card:hover .product-photo-card {
  filter: brightness(70%);
}

.product-card:hover .view-icon-img {
  filter: invert(62%) sepia(7%) saturate(1307%) hue-rotate(337deg)
    brightness(86%) contrast(84%);
}

.product-card:active,
.product-card:active .product-text,
.product-card:active .product-views-text {
  background-color: var(--botao-click);
  color: var(--texto-click);
}

.product-card:active .product-photo-card {
  filter: brightness(50%);
}

.product-card:active .view-icon-img {
  filter: invert(52%) sepia(15%) saturate(5812%) hue-rotate(346deg)
    brightness(80%) contrast(45%);
}

.product-text {
  margin-left: 0vmax;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 400;
  width: 100%;
  max-width: 12.2vmax;
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-wrap: wrap;
}

.product-views-text {
  margin-left: -0.5rem;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 400;
  width: 100%;
  text-align: left;
  padding-left: 1vmax;
  text-wrap: wrap;
}

.views-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0vmax;
  align-items: center;
  padding-left: 1vmax;
  padding-top: 4.07vmax;
  padding-bottom: 1vmax;
}

.view-icon-img {
  width: 1vmax;
  fill: var(--texto);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.product-photo {
  height: 4.07vmax;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  border-radius: 0.84vmax;
}

.product-photo-card {
  height: 8.13vmax;
  width: 12.2vmax;
  max-width: 12.2vmax;
  margin-bottom: 1vmax;
  border-radius: 1.4vmax 1.4vmax 0 0;
  z-index: 0;
}

.product-container {
  width: 60vmax;
  height: 28.47vmax;
  overflow: scroll;
}

.product-horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 0.81vmax), 1fr));
  gap: 0.81vmax;
  row-gap: 2.44vmax;
  padding-left: 0em;
  padding-right: 0vmax;
  margin-top: 0;
  min-width: 100%;
  width: 100%;
  justify-content: start;
}

.product-vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-left: 0vmax;
}

.category-horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 0.81vmax), 1fr));
  gap: 0vmax;
  row-gap: 2.44vmax;
  padding-left: 13.83vmax;
  padding-right: 13.83vmax;
  margin-top: 2.44vmax;
  justify-content: start;
}

.category-vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-left: 0vmax;
}

.category-wrap {
  flex: 1 1 calc(25% - 0.81vmax);
  box-sizing: border-box;
}

.category-photo {
  border-radius: 1.4vmax;
  height: 8.95vmax;
  margin-top: 0.81vmax;
  margin-bottom: 0.81vmax;
  max-width: 15vmax;
}

.category-text {
  font-family: "Inter";
  font-style: regular;
  font-weight: 400;
  color: var(--texto);
}

.category-text-buttons-container {
  font-family: "Inter";
  font-style: regular;
  font-weight: 400;
  color: var(--texto);
  padding-top: 3.25vmax;
}

.category-link {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--texto);
}

.category-link:hover h1 {
  color: var(--texto-hover);
}

.category-link:hover .category-photo {
  filter: brightness(70%);
}

.category-link:active h1 {
  color: var(--texto-click);
}

.category-link:active .category-photo {
  filter: brightness(50%);
}

.category-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0vmax;
  padding-left: 8.13vmax;
  padding-right: 8.13vmax;
  margin-top: 1.63vmax;
  height: auto;
  width: 100%;
  text-align: center;
}

.category-button-container-vertical {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.81vmax;
  width: auto;
  height: fit-content;
}

.category-button-container-horizontal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 0.81vmax;
  width: auto;
  height: fit-content;
}

.category-button-container-produto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0vmax;
  padding-left: 8.13vmax;
  padding-right: 8.13vmax;
  margin-top: 1.63vmax;
  margin-left: 0;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.category-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 8.13vmax;
  padding-right: 8.13vmax;
  height: auto;
  width: 100%;
  text-align: center;
}

.category-button {
  width: 6.51vmax;
  height: 1.63vmax;
  font-size: 0.81vmax;
  border: none;
  border-radius: 0.22vmax;
  background-color: var(--botao-off);
  color: var(--texto);
  cursor: pointer;
  border-radius: 0.56vmax;
}

.category-column {
  margin-bottom: 0.5vmax;
}

.category-button-disabled {
  width: 6.51vmax;
  height: 1.63vmax;
  font-size: 0.81vmax;
  border: none;
  border-radius: 0.22vmax;
  background-color: var(--botao-click);
  color: var(--texto-click);
  border-radius: 0.56vmax;
  cursor: default;
  pointer-events: none;
}

.category-button:hover {
  font-size: 0.81vmax;
  background-color: var(--botao-hover);
  color: var(--texto-hover);
}

.category-button:active {
  font-size: 0.81vmax;
  background-color: var(--botao-click);
  color: var(--texto-click);
}

.view-product-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
}

.view-product-horizontal {
  display: flex;
  flex-direction: row;
  gap: 0.81vmax;
  row-gap: 2.44vmax;
  padding-left: 0em;
  padding-right: 0vmax;
  margin-top: 0;
  min-width: 100%;
  width: 100%;
  justify-content: start;
}

.view-product-vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: left;
  justify-content: start;
  margin-left: 0vmax;
}

.view-product-text {
  margin-left: 0vmax;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 600;
  text-align: left;
}

.view-product-img {
  height: 3.25vmax;
  width: 4.88vmax;
  max-width: 4.88vmax;
  margin-bottom: 0.81vmax;
  border-radius: 0.84vmax;
  cursor: pointer;
  display: block;
}

.selected-img {
  border: 0.11vmax solid var(--texto-click);
  pointer-events: none;
  filter: brightness(60%);
}

.view-product-img:first-of-type {
  margin-top: 0.81vmax;
}

.view-product-img:hover {
  filter: brightness(70%);
}

.view-product-img:active {
  filter: brightness(50%);
}

.view-product-img-border {
  border: 0.11vmax solid var(--texto-click);
}

.view-product-img-selected {
  height: 32.53vmax;
  max-width: 56.93vmax;
  border-radius: 0.84vmax;
  display: block;
  position: relative;
  cursor: crosshair;
}

.img-zoom-container {
  position: relative;
  display: inline-block;
  margin-top: 0.81vmax;
}

.zoom-lens {
  position: absolute;
  background-color: rgba(159, 130, 114, 0.2);
  border: 0.11vmax dotted var(--texto-click);
  width: 8.13vmax;
  height: 8.13vmax;
  border-radius: 0.84vmax;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.zoom-lens.active {
  opacity: 1;
}

.zoomed-image {
  position: relative;
  margin-top: 0.81vmax;
  width: 20.33vmax;
  height: 20.33vmax;
  background-color: rgba(159, 130, 114, 0.2);
  border-radius: 0.84vmax;
  opacity: 0;
  transition: opacity 0.2s;
}

.zoomed-image.active {
  opacity: 1;
  transform: scale(1);
}
