:root {
  --fundo: #322626;
  --texto: #ffffff;
  --texto-hover: #9f8272;
  --texto-click: #a26e51;
  --destaque: #3e3131;
  --botao-off: #705e5e;
  --botao-hover: #5c4646;
  --botao-click: #4b2e2e;
}

.spinner {
  border: 0.5rem solid var(--texto);
  border-top: 0.5rem solid var(--texto-click);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#block {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  top: 0;
}

#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

body.processing {
  cursor: wait;
}
