:root {
  --fundo: #322626;
  --texto: #ffffff;
  --texto-hover: #9f8272;
  --texto-click: #a26e51;
  --destaque: #3e3131;
  --botao-off: #705e5e;
  --botao-hover: #5c4646;
  --botao-click: #4b2e2e;
}

.background {
  width: 100%;
  height: 100%;
  background-color: var(--fundo);
}

.cat {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cabecalho {
  text-align: center;
  color: var(--texto);
}

.titulo {
  color: var(--texto);
  font-family: "Inter";
  margin-left: 5rem;
  font-weight: bold;
}

.horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
  gap: 1rem;
  row-gap: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
}

.horizontal-edit-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 2rem;
}

.alignCenter {
  align-items: center;
}

.smallPadding {
  padding-left: 1rem;
  margin: 0;
}

.noPadding {
  padding: 0;
  margin: 0;
}

.vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 5rem;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
}

.produto {
  margin-left: 0rem;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
}

.form {
  align-items: center;
  justify-content: center;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}

.btn-secondary {
  background-color: #6c757d;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-danger {
  background-color: #dc3545;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-edit {
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
  background-color: var(--botao-off) !important;
}

.btn-edit:hover {
  color: var(--texto-hover) !important;
  background-color: var(--botao-hover) !important;
}

.btn-edit:active {
  color: var(--texto-click) !important;
  background-color: var(--botao-click) !important;
}

.btn-add {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: var(--botao-off) 1px solid !important;
  padding: 0.5rem 1rem;
  text-align: center !important;
  text-decoration: none;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
  height: 3rem;
  background-color: var(--destaque) !important;
  max-width: 15rem;
}

.btn-add:hover {
  color: var(--texto-hover) !important;
  border: var(--botao-hover) 1px solid !important;
}

.btn-add:active {
  color: var(--texto-click) !important;
  border: var(--botao-click) 1px solid !important;
}

.btn-remove {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: #dc3545 1px solid !important;
  padding: 0.5rem 1rem;
  text-align: center !important;
  text-decoration: none;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}

.btn-form {
  margin-left: 1rem;
}

.field-box {
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.field {
  background-color: #35a7dc !important;
  color: white;
}

.btn-Confirm {
  margin-left: 7rem !important;
}

.btn-add-photo {
  height: 2.5rem !important;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 500 !important;
  border: 0 !important;
  background-color: var(--botao-off) !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  vertical-align: middle;
}

.btn-add-photo:hover {
  color: var(--texto-hover) !important;
  background-color: var(--botao-hover) !important;
}

.btn-add-photo:active {
  color: var(--texto-click) !important;
  background-color: var(--botao-click) !important;
}

.product-card {
  background-color: var(--botao-off);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  cursor: pointer;
}

.product-card:hover,
.product-card:hover .product-text,
.product-card:hover .product-views-text {
  background-color: var(--botao-hover);
  color: var(--texto-hover);
}

.product-card:hover .product-photo-card {
  filter: brightness(70%);
}

.product-card:hover .view-icon-img {
  filter: invert(62%) sepia(7%) saturate(1307%) hue-rotate(337deg)
    brightness(86%) contrast(84%);
}

.product-card:active,
.product-card:active .product-text,
.product-card:active .product-views-text {
  background-color: var(--botao-click);
  color: var(--texto-click);
}

.product-card:active .product-photo-card {
  filter: brightness(50%);
}

.product-card:active .view-icon-img {
  filter: invert(52%) sepia(15%) saturate(5812%) hue-rotate(346deg)
    brightness(80%) contrast(45%);
}

.product-text {
  margin-left: 0rem;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  max-width: 15rem;
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-wrap: wrap;
}

.product-views-text {
  margin-left: -0.5rem;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  text-wrap: wrap;
}

.views-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0rem;
  padding-left: 1rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.view-icon-img {
  width: 1rem;
  fill: var(--texto);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.product-photo {
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.product-photo-card {
  height: 10rem;
  width: 15rem;
  max-width: 15rem;
  margin-bottom: 1rem;
  border-radius: 25px 25px 0 0;
  z-index: 0;
}

.product-photo-edit {
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: grab;
}

.product-photo-edit:active {
  cursor: grabbing;
}

.product-container {
  width: 80%;
  height: 35rem;
  overflow: scroll;
}

.product-horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
  gap: 1rem;
  row-gap: 3rem;
  padding-left: 0em;
  padding-right: 0rem;
  margin-top: 0;
  min-width: 100%;
  width: 100%;
  justify-content: start;
}

.product-vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
}

.category-horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
  gap: 0rem;
  row-gap: 3rem;
  padding-left: 17rem;
  padding-right: 17rem;
  margin-top: 3rem;
  justify-content: start;
}

.category-vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
}

.category-wrap {
  flex: 1 1 calc(25% - 1rem);
  box-sizing: border-box;
}

.category-photo {
  border-radius: 25px;
  height: 11rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.category-text {
  font-family: "Inter";
  font-style: regular;
  font-weight: 400;
  font-size: 20px;
  color: var(--texto);
}

.category-text-buttons-container {
  font-family: "Inter";
  font-style: regular;
  font-weight: 400;
  font-size: 20px;
  color: var(--texto);
  padding-top: 4rem;
}

.category-link {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--texto);
}

.category-link:hover h1 {
  color: var(--texto-hover);
}

.category-link:hover .category-photo {
  filter: brightness(70%);
}

.category-link:active h1 {
  color: var(--texto-click);
}

.category-link:active .category-photo {
  filter: brightness(50%);
}

.category-button-container-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 2rem;
  height: auto;
  text-align: center;
}

.category-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: auto;
  height: fit-content;
}

.category-button {
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--botao-off);
  color: var(--texto);
  cursor: pointer;
  border-radius: 10px;
}

.category-button-disabled {
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--botao-click);
  color: var(--texto-click);
  border-radius: 10px;
  cursor: default;
  pointer-events: none;
}

.category-button:hover {
  font-size: 1rem;
  background-color: var(--botao-hover);
  color: var(--texto-hover);
}

.category-button:active {
  font-size: 1rem;
  background-color: var(--botao-click);
  color: var(--texto-click);
}

.drag-image {
  width: 1rem !important;
  height: 1rem !important;
  object-fit: contain;
  display: block;
}

.cart-container {
  width: 100%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--texto-hover);
  margin-top: 1rem;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.controls button,
.controls .quantity {
  margin: 0;
}

.controls button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.quantity {
  font-size: 1rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  padding: 1rem;
  color: var(--texto);
}

label {
  color: var(--texto);
  font-family: "Inter";
  font-weight: 300;
}

input {
  height: 2.5rem;
  border-radius: 5px;
  border: 0;
  padding-left: 1rem;
  color: var(--texto);
  background-color: var(--botao-off);
  align-items: center;
  justify-content: center;
  text-align: left;
  align-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

select {
  height: 2.5rem;
  border-radius: 5px;
  border: 0;
  padding-left: 1rem;
  color: var(--texto);
  background-color: var(--botao-off);
}

.horizontal-line {
  border-bottom: 1px solid var(--texto);
  width: 100rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.vertical-line {
  border-left: 1px solid var(--texto);
  margin-left: 1.5rem;
  min-height: 100%;
}

.unselectable {
  user-select: none;
}

.center {
  align-content: center !important;
  align-items: center;
  align-self: center;
  justify-content: center !important;
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.cart-ico {
  width: 2rem;
  right: 5rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
  position: absolute;
}

.cart-ico {
  width: 2rem;
  right: 5rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
  position: absolute;
}

.cart-ico:hover {
  filter: invert(62%) sepia(7%) saturate(1307%) hue-rotate(337deg)
    brightness(86%) contrast(84%);
}

.cart-ico:active {
  filter: invert(52%) sepia(15%) saturate(5812%) hue-rotate(346deg)
    brightness(80%) contrast(45%);
}

.cart-ico-button {
  width: 1.5rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
}

.btn-cart {
  margin-top: 1rem;
  width: 15rem;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.btn-cart-check {
  margin-top: 1rem;
  width: 15rem;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: var(--botao-click) !important;
  border: 0 !important;
}

.btn-cart:hover .cart-ico-button {
  filter: invert(62%) sepia(7%) saturate(1307%) hue-rotate(337deg)
    brightness(86%) contrast(84%);
}

.btn-cart:active .cart-ico-button {
  filter: invert(52%) sepia(15%) saturate(5812%) hue-rotate(346deg)
    brightness(80%) contrast(45%);
}

a {
  text-decoration: none !important;
}

.view-product-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
}

.view-product-horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  row-gap: 3rem;
  padding-left: 0em;
  padding-right: 0rem;
  margin-top: 0;
  min-width: 100%;
  width: 100%;
  justify-content: start;
}

.view-product-vertical {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: left;
  justify-content: start;
  margin-left: 0rem;
}

.view-product-text {
  margin-left: 0rem;
  color: var(--texto);
  font-family: "Inter";
  font-weight: 600;
  text-align: left;
}

.view-product-img {
  height: 4rem;
  width: 6rem;
  max-width: 6rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  cursor: pointer;
  display: block;
}

.view-product-img:first-of-type {
  margin-top: 1rem;
}

.view-product-img:hover {
  filter: brightness(70%);
}

.view-product-img:active {
  filter: brightness(50%);
}

.view-product-img-border {
  border: 2px solid var(--texto-click);
}

.view-product-img-selected {
  height: 40rem;
  border-radius: 15px;
  display: block;
  position: relative;
  cursor: crosshair;
}

.img-zoom-container {
  position: relative;
  display: inline-block;
}

.zoom-lens {
  position: absolute;
  background-color: rgba(159, 130, 114, 0.2);
  border: 2px dotted var(--texto-hover);
  width: 10rem;
  height: 10rem;
  border-radius: 15px;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.zoom-lens.active {
  opacity: 1;
}

.zoomed-image {
  position: relative;
  width: 25rem;
  height: 25rem;
  background-color: rgba(159, 130, 114, 0.2);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.2s;
}

.zoomed-image.active {
  opacity: 1;
  transform: scale(1);
}
