:root {
  --fundo: #322626;
  --texto: #ffffff;
  --texto-hover: #9f8272;
  --texto-click: #a26e51;
  --destaque: #3e3131;
  --botao-off: #705e5e;
  --botao-hover: #5c4646;
  --botao-click: #4b2e2e;
}

.footer {
  margin-top: 7rem;
}

.footerSections {
  display: flex;
  flex-direction: row;
  padding-left: 10rem;
  padding-right: 10rem;
  color: var(--texto);
  gap: 50rem;
  justify-content: center;
}

.footerLine {
  color: var(--texto);
  width: 95%;
  margin: auto;
  margin-bottom: 2rem;
}

.sectionInstagram {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoInstagram {
  width: 3rem;
  height: 3rem;
}
.logoInstagram:hover {
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
}
.logoInstagram:active {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
}

.footerButton {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--destaque);
  width: 100%;
  color: var(--texto) !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}
.footerButton:hover {
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
  -moz-filter: brightness(95%);
}
.footerButton:active {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
  -moz-filter: brightness(85%);
}
