{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/galeria.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Adicionar Categoria</title>
    {% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %} {% block 'dashboard' %}
    <div class="center">
      <form
        action="{% url 'cadastroCategoria' %}"
        method="post"
        enctype="multipart/form-data"
        class="center"
      >
        <h1 class="cabecalho">Adicionar Categoria</h1>

        {% csrf_token %} {{ form.as_p }}
        <div>
          <a href="{% url 'galeria' %}" class="btn btn-secondary">Cancelar</a>
          <button type="submit" class="btn btn-edit">Adicionar</button>
        </div>
      </form>
    </div>
    {% endblock %}{% block footer %}{% endblock %}
  </body>
</html>
