{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styleGaleria.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apagar Produto</title>
    {% endblock %}
  </head>
  <body>
    {% block 'dashboard' %}
    <h1 class="cabecalho">Apagar Produto</h1>
    <h2 class="titulo">
      Você tem certeza de que deseja apagar o produto "{{ product.name }}"?
    </h2>

    <form
      action="{% url 'confirmacaoProduto' product.id %}"
      method="post"
      class="vertical"
      style="display: inline"
    >
      {% csrf_token %}
      <a href="{% url 'galeria' %}" class="btn btn-secondary btn-Confirm"
        >Não</a
      >
      <button type="submit" class="btn btn-danger">Sim</button>
    </form>
    {% endblock %}
  </body>
</html>
