{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styleGaleria.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Editar Produto {{ product.name }}</title>
    {% endblock %}
  </head>
  <body>
    {% block 'dashboard' %}
    <div class="center">
      <form
        action="{% url 'editar' product.id %}"
        method="post"
        enctype="multipart/form-data"
        id="product-form"
        data-product-name="{{ product.name }}"
        class="center"
      >
        <h1 class="cabecalho">Editar Produto</h1>

        {% csrf_token %}
        <table>
          <table>
            {{ form.as_table }}
          </table>

          <div class="horizontal-edit-img alignCenter">
            <div
              class="horizontal-edit-img alignCenter noPadding"
              id="photo-container"
            >
              {% for photo in product.photos %}
              <div class="vertical" draggable="true" data-photo="{{ photo }}">
                <img
                  src="../../media/{{ photo }}"
                  alt="Imagem de {{ product.name }}"
                  class="product-photo-edit"
                  draggable="false"
                />
                <button type="button" class="btn btn-danger remove-photo-btn">
                  X
                </button>
              </div>
              {% endfor %}
            </div>

            <button
              type="button"
              id="add-photo-btn"
              class="btn btn-primary btn-add-photo"
            >
              +
            </button>
          </div>

          <br />

          <div>
            <a href="{% url 'galeria' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-edit">Salvar</button>
          </div>
        </table>
      </form>

      <input
        type="file"
        id="photo-input"
        accept="image/*"
        style="display: none"
        multiple
      />
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const photoContainer = document.getElementById("photo-container");
        const form = document.getElementById("product-form");
        const productName = form.dataset.productName.replace(" ", "-");
        let removedPhotos = [];
        let newPhotos = [];

        document
          .getElementById("add-photo-btn")
          .addEventListener("click", function () {
            const input = document.createElement("input");
            input.type = "file";
            input.accept = "image/*";
            input.multiple = true;

            input.addEventListener("change", function () {
              for (let file of input.files) {
                if (file) {
                  const reader = new FileReader();
                  reader.onload = function (e) {
                    const img = document.createElement("img");
                    img.src = e.target.result;
                    img.classList.add("product-photo-edit");

                    const photoElement = document.createElement("div");
                    photoElement.classList.add(
                      "vertical product-photo-edit-grabbed"
                    );
                    photoElement.appendChild(img);

                    const removeBtn = document.createElement("button");
                    removeBtn.type = "button";
                    removeBtn.classList.add(
                      "btn",
                      "btn-danger",
                      "remove-photo-btn"
                    );
                    removeBtn.textContent = "X";
                    photoElement.appendChild(removeBtn);

                    photoContainer.appendChild(photoElement);

                    newPhotos.push({
                      file: file,
                      name: `img-${productName}-${newPhotos.length + 1}.jpg`,
                    });
                  };
                  reader.readAsDataURL(file);
                }
              }
            });

            input.click();
          });

        photoContainer.addEventListener("dragstart", function (e) {
          if (e.target.classList.contains("vertical")) {
            e.dataTransfer.setData("text/plain", e.target.dataset.photo);

            dragImage.src = e.target.querySelector("img").src;
            dragImage.onload = function () {
              e.dataTransfer.setDragImage(dragImage, 0, 0);
            };
          }
        });

        photoContainer.addEventListener("dragover", function (e) {
          e.preventDefault();
        });

        photoContainer.addEventListener("drop", function (e) {
          e.preventDefault();
          const draggedPhoto = e.dataTransfer.getData("text/plain");
          const targetPhoto = e.target.closest(".vertical");
          if (targetPhoto && targetPhoto.dataset.photo !== draggedPhoto) {
            const allPhotos = Array.from(photoContainer.children);
            const draggedElement = allPhotos.find(
              (el) => el.dataset.photo === draggedPhoto
            );
            const targetIndex = allPhotos.indexOf(targetPhoto);
            const draggedIndex = allPhotos.indexOf(draggedElement);
            if (targetIndex < draggedIndex) {
              photoContainer.insertBefore(draggedElement, targetPhoto);
            } else {
              photoContainer.insertBefore(
                draggedElement,
                targetPhoto.nextSibling
              );
            }
          }
        });

        photoContainer.addEventListener("click", function (e) {
          if (e.target.classList.contains("remove-photo-btn")) {
            const photoElement = e.target.closest(".vertical");

            if (photoContainer.children.length > 1) {
              const photoPath = photoElement.dataset.photo;
              if (photoPath) {
                removedPhotos.push(photoPath);
              }
              photoElement.remove();
            } else {
              alert("O produto deve ter pelo menos uma imagem.");
            }
          }
        });

        form.addEventListener("submit", function (e) {
          e.preventDefault();
          const photoOrder = Array.from(photoContainer.children)
            .map((el) => el.dataset.photo || null)
            .filter((photo) => photo !== null);

          const formData = new FormData(form);
          formData.append("photo_order", JSON.stringify(photoOrder));
          formData.append("removed_photos", JSON.stringify(removedPhotos));

          newPhotos.forEach(({ file, name }) => {
            if (file && file.size > 0) {
              formData.append("photos[]", file, name);
            }
          });

          fetch(form.action, {
            method: "POST",
            body: formData,
          })
            .then((response) => {
              if (response.ok) {
                window.location.href = response.url;
              } else {
                alert("Erro ao editar o produto.");
              }
            })
            .catch((error) => {
              console.error("Fetch error:", error);
            });
        });
      });
    </script>
    {% endblock %}{% block footer %}{% endblock %}
  </body>
</html>
