{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleGaleria.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <h1 class="cabecalho">Editar Produto</h1>

    <div style="margin-left: 1rem;">
        <form action="{% url 'editar' product.id %}" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'galeria' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-edit">Salvar</button>
        </form>
    </div>
</body>
</html>
