{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/galeria.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Galeria de Produtos</title>
    {% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %} {% block 'dashboard' %}
    <div class="center">
      <h1 class="cabecalho s60">Galeria de Produtos</h1>
    </div>
    <!--
        ~Miguelindo aqui
        2 laços: um para imprimir as categorias, e outro para imprimir os produtos nessa categoria
        -->
    <div>
      {% for category, products_list in category_products.items %}
      <div class="cat">
        <h1 class="titulo s30">{{ category.name }}</h1>
        <div class="horizontal">
          {% if products_list %} {% for product in products_list %}
          <div class="vertical">
            <h5 class="produto s24">{{ product.name }}</h5>
            <h7 class="produto s16">Código: {{ product.code }}</h7>
            <h7 class="produto s16">Tamanho: {{ product.size }}</h7>
            <h7 class="produto s16">Visualizações: {{ product.views }}</h7>

            {% if product.photos %}
            <img
              src="../../media/{{ product.photos.0 }}"
              alt="Imagem de {{ product.name }}"
              class="product-photo"
            />
            {% else %}
            <p class="texto">Sem Imagens</p>
            {% endif %}

            <div class="center">
              <a
                href="{% url 'editar' product.id %}"
                class="btn btn-edit s20 noWrap"
                >Editar Produto</a
              >

              <form
                action="{% url 'confirmacaoProduto' product.id %}"
                method="get"
                style="display: inline"
                class="form"
              >
                {% csrf_token %}
                <button type="submit" class="btn btn-danger s20 noWrap">
                  Apagar Produto
                </button>
              </form>
            </div>
          </div>
          {% endfor %}
          <div class="center">
            <a
              href="{% url 'cadastro'%}?category_id={{ category.id }}"
              class="btn btn-add s20 noWrap"
              >Adicionar Produto</a
            >
            <a
              href="{% url 'editarCategoria' category_id=category.id %}"
              class="btn btn-add s20 noWrap"
              >Editar Categoria</a
            >
          </div>
          {% else %}
          <p class="vertical texto">Sem Produtos</p>

          <div class="center">
            <a
              href="{% url 'cadastro'%}?category_id={{ category.id }}"
              class="btn btn-add s20 noWrap"
              >Adicionar Produto</a
            >
            <a
              href="{% url 'editarCategoria' category_id=category.id %}"
              class="btn btn-add s20 noWrap"
              >Editar Categoria</a
            >

            <form
              action="{% url 'confirmacaoCategoria' category.id %}"
              method="get"
              style="display: inline"
              class="form"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="btn btn-danger btn-remove s20 noWrap"
              >
                Apagar Categoria
              </button>
            </form>
          </div>

          {% endif %}
        </div>
      </div>

      <hr class="footerLine" />

      {% endfor %}
    </div>

    <div class="center">
      <a href="{% url 'cadastroCategoria'%}" class="btn btn-add s20 noWrap">
        Adicionar Categoria
      </a>
      <br />
    </div>

    {% endblock %}{% block footer %}{% endblock %}
  </body>
</html>
