{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Gestão</title>
    {% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %} {% block 'dashboard' %}
    <div></div>
    {% if user.is_authenticated %}
    <div class="center">
      <a href="{% url 'cadastro'%}" class="btn btn-add s20 noWrap"
        >Adicionar Produtos</a
      >
      <a href="{% url 'galeria'%}" class="btn btn-add s20 noWrap"
        >Consultar Produtos</a
      >
      <a href="{% url 'logout' %}" class="btn btn-add s20 noWrap">Logout</a>
      {% else %}
      <h1>Faça Login para gerenciar seus produtos</h1>
      <div class="pai">
        <a href="{% url 'login'%}" class="btn btn-add s20 noWrap">Login</a>
      </div>
      {% endif %} {% endblock %}{% block footer %}{% endblock %}
    </div>
  </body>
</html>
