{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Login</title>
    {% endblock %}
  </head>
  <body>
    {% block 'dashboard' %}
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <input type="submit" value="Login" />
    </form>
    {% endblock %}
  </body>
</html>
