{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Login</title>
    {% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %} {% block 'dashboard' %}
    <div class="center">
      <form action="{% url 'login' %}" method="POST" class="center">
        {% csrf_token %}
        <table>
          {{form.as_table}}
        </table>
        <button class="btn btn-edit s20 noWrap" type="submit" value="Login">
          Login
        </button>
      </form>
    </div>
    {% endblock %}{% block footer %}{% endblock %}
  </body>
</html>
