{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/galeria.css' %}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Categorias</title>
    {% endblock %}
  </head>
  <body>
    {% block 'dashboard' %}
    <!--
        ~Miguelindo aqui
        2 laços: um para imprimir as categorias, e outro para imprimir os produtos nessa categoria
        -->

    <div>
      <div class="category-horizontal">
        {% for category in categories %}

        <div class="category-wrap">
          <div class="category-vertical">
            <a
              href="{% url 'produtos' category_id=category.id %}"
              class="category-link"
            >
              {% if category.photo %}
              <img
                src="../../media/{{ category.photo }}"
                alt="Imagem de {{ category.name }}"
                class="category-photo"
              />
              {% else %}
              <p>Sem Imagens</p>
              {% endif %}

              <h1 class="category-text s20">{{ category.name }}</h1>
            </a>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
