{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/galeria.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/produto.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>Pesquisa: {{ searchTerm }}</title>

    <script>
      var csrf_token = "{{ csrf_token }}";
    </script>
    {% endblock %}
  </head>
  <body>
    {% block 'dashboard' %}
    <div class="center">
      <h2 class="cabecalho s24">"{{ searchTerm }}"</h2>
      <div class="product-container">
        <div class="product-horizontal">
          {% if products %} {% for product in products %}
          <div class="product-vertical">
            <a
              href="{% url 'produto' category_id=product.category.id product_id=product.id %}"
            >
              <div class="product-card" data-product-id="{{ product.id }}">
                {% if product.photos %}
                <img
                  src="../../media/{{ product.photos.0 }}"
                  alt="Imagem de {{ product.name }}"
                  class="product-photo-card"
                />
                {% else %}
                <p>Sem Imagens</p>
                {% endif %}

                <h3 class="product-text unselectable s16">
                  {{ product.name }}
                </h3>

                <div class="views-horizontal">
                  <img
                    src="../../media/icon/view.svg"
                    class="view-icon-img unselectable"
                    alt="view icon"
                  />
                  <h7 class="product-views-text unselectable s10">
                    {{ product.views }}
                  </h7>
                </div>
              </div>
            </a>
          </div>
          {% endfor %} {% else %}
          <p class="cabecalho s16">Nenhum produto encontrado.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {});

      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      });
    </script>

    {% endblock %}
  </body>
</html>
