{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/galeria.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>{{ category.name }}</title>
    {% endblock %}
  </head>
  <body>
    {% block 'dashboard' %}
    <div class="category-button-container-horizontal">
      <div>
        <h1 class="category-text-buttons-container">Categorias</h1>
        <div class="category-button-container">
          {% for categoria in categories %} {% if categoria.id == category.id %}
          <button class="category-button-disabled" aria-disabled="true">
            {{ categoria.name }}
          </button>
          {% else %}
          <a href="{% url 'produtos' category_id=categoria.id %}">
            <button class="category-button">{{ categoria.name }}</button>
          </a>
          {% endif %} {% endfor %}
        </div>
      </div>

      <div class="vertical-line"></div>

      <div class="product-container">
        <div class="product-horizontal">
          {% for product in products %}
          <div class="product-vertical">
            <a
              href="{% url 'produto' category_id=category.id product_id=product.id %}"
            >
              <div class="product-card" data-product-id="{{ product.id }}">
                {% if product.photos %}
                <img
                  src="../../media/{{ product.photos.0 }}"
                  alt="Imagem de {{ product.name }}"
                  class="product-photo-card"
                />
                {% else %}
                <p>Sem Imagens</p>
                {% endif %}

                <h3 class="product-text unselectable">{{ product.name }}</h3>

                <div class="views-horizontal">
                  <img
                    src="../../media/icon/view.svg"
                    class="view-icon-img unselectable"
                    alt="view icon"
                  />

                  <h7 class="product-views-text unselectable"
                    >{{ product.views }}</h7
                  >
                </div>

                <!--
              <button
                class="btn btn-cart btn-edit"
                data-product-id="{{ product.id }}"
              >
                Adicionar ao Carrinho
              </button>
              --></div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {});

      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      });

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function sendCartDataToServer() {
        const cart = JSON.parse(localStorage.getItem("cart")) || [];
        fetch('{% url "save_cart" %}', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify({ cart: cart }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.open('{% url "message" %}', "_blank");
            } else {
              console.error("Error:", data);
            }
          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });
      }

      function sendCartDataToServerCarrinho() {
        const cart = JSON.parse(localStorage.getItem("cart")) || [];
        fetch('{% url "save_cart" %}', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify({ cart: cart }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.open('{% url "carrinho" %}', "_blank");
            } else {
              console.error("Error:", data);
            }
          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });
      }

      document.addEventListener("DOMContentLoaded", function () {
        let cart = JSON.parse(localStorage.getItem("cart")) || [];

        document.querySelectorAll(".btn-cart").forEach((button) => {
          const productId = button.getAttribute("data-product-id");

          let productInCart = cart.find((item) => item.id === productId);

          if (productInCart) {
            button.classList.remove("btn-edit");
            button.classList.add("btn-danger");
            button.textContent = "Remover do Carrinho";
          }

          button.addEventListener("click", function () {
            if (productInCart) {
              cart = cart.filter((item) => item.id !== productId);
            } else {
              cart.push({ id: productId, quantity: 1 });
            }

            localStorage.setItem("cart", JSON.stringify(cart));

            productInCart = cart.find((item) => item.id === productId);
            if (productInCart) {
              button.classList.remove("btn-edit");
              button.classList.add("btn-danger");
              button.textContent = "Remover do Carrinho";
            } else {
              button.classList.remove("btn-danger");
              button.classList.add("btn-edit");
              button.textContent = "Adicionar ao Carrinho";
            }
          });
        });
      });
    </script>

    <div id="react-footer"></div>
    <script type="module" src="{% static 'react/index.js' %}"></script>
    {% endblock %}
  </body>
</html>
