{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/galeria.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/produto.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../media/icon/logo-icon.png" />
    <title>{{ category.name }}</title>

    <script>
      var csrf_token = "{{ csrf_token }}";
    </script>
    {% endblock %}
  </head>
  <body>
    {% block 'dashboard' %}
    <div class="category-button-container">
      <div class="view-product-container">
        <div class="view-product-vertical">
          <div class="view-product-vertical">
            <h2 class="view-product-text">{{ product.name }}</h2>
            <div class="view-product-horizontal">
              <h6 class="view-product-text">Tamanho: {{ product.size }}</h6>
              <h6 class="view-product-text">Código: {{ product.code }}</h6>
            </div>
          </div>

          <div class="view-product-horizontal">
            <div class="view-product-vertical">
              {% for photo in product.photos %}

              <img
                src="../../../media/{{ photo }}"
                alt="Imagem de {{ product.name }}"
                class="view-product-img"
              />

              {% endfor %}
            </div>

            <section class="img-zoom-container">
              <img
                src="../../../media/{{ product.photos.0 }}"
                alt="Imagem de {{ product.name }}"
                class="view-product-img-selected"
              />

              <div class="zoom-lens"></div>
            </section>

            <div class="zoomed-image"></div>
          </div>

          <button
            class="btn btn-cart btn-edit s20 noWrap"
            data-product-id="{{ product.id }}"
          >
            <img src="../../../media/icon/cart.svg" class="cart-ico-button" />

            <span class="s15 noWrap">Adicionar ao Carrinho</span>
          </button>
        </div>
      </div>
    </div>
    <div class="testando">
      <h1 style="color: white">Algumas sugestões</h1>
      {% for produtos in product_category %}
      <a
        href="{% url 'produto' category_id=produtos.category.id product_id=produtos.id %}"
        style="color: white"
        >{{produtos.name}}<img
          src="{{produtos.photo.url}}"
          alt="Foto da categoria"
          class="view-product-img"
        />

        {% for photo in produtos.photo %}
        <img
          src="../../../media/{{photo}}"
          alt="Foto do Produto"
          class="view-product-img"
        />
        {% endfor %}
      </a>
      {% endfor %}
    </div>

    <div class="category-button-container-produto">
      <h1 class="category-text-buttons-container s20">Categorias</h1>

      <div>
        <div class="category-grid">
          <div class="category-column">
            <!-- Ímpares -->
            {% for categoria in categories %}
            <!---->
            {% if forloop.counter|divisibleby:2 == False %}
            <!---->
            {% if categoria.id == category.id %}
            <a>
              <button class="category-button-disabled" aria-disabled="true">
                {{ categoria.name }}
              </button>
            </a>
            {% else %}
            <a href="{% url 'produtos' category_id=categoria.id %}">
              <button class="category-button">{{ categoria.name }}</button>
            </a>
            {% endif %} {% endif %} {% endfor %}
          </div>
          <div class="category-column">
            <!-- Pares -->
            {% for categoria in categories %}
            <!---->
            {% if forloop.counter|divisibleby:2 %}
            <!---->
            {% if categoria.id == category.id %}
            <a>
              <button class="category-button-disabled" aria-disabled="true">
                {{ categoria.name }}
              </button>
            </a>
            {% else %}
            <a href="{% url 'produtos' category_id=categoria.id %}">
              <button class="category-button">{{ categoria.name }}</button>
            </a>
            {% endif %} {% endif %} {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const lens = document.querySelector(".zoom-lens");
        const imgContainer = document.querySelector(".img-zoom-container");
        const selectedImgs = document.querySelectorAll(
          ".view-product-img-selected"
        );
        const zoomedImg = document.querySelector(".zoomed-image");
        const thumbnails = document.querySelectorAll(".view-product-img");
        const productId = "{{ product.id }}";

        if (lens && selectedImgs.length > 0 && zoomedImg) {
          function magnify(selectedImgs, zoomedImg) {
            lens.addEventListener("mousemove", moveLens);

            selectedImgs.forEach((selectedImg) => {
              selectedImg.addEventListener("mousemove", (e) =>
                moveLens(e, selectedImg)
              );
            });

            imgContainer.addEventListener("mouseleave", leaveLens);
          }

          function moveLens(e, selectedImg) {
            let x, y, cx, cy;

            const selectedImg_rect = selectedImg.getBoundingClientRect();
            const scrollLeft =
              window.pageXOffset || document.documentElement.scrollLeft;
            const scrollTop =
              window.pageYOffset || document.documentElement.scrollTop;

            x =
              e.pageX -
              selectedImg_rect.left -
              lens.offsetWidth / 2 -
              scrollLeft;
            y =
              e.pageY -
              selectedImg_rect.top -
              lens.offsetHeight / 2 -
              scrollTop;

            let max_xpos = selectedImg_rect.width - lens.offsetWidth;
            let max_ypos = selectedImg_rect.height - lens.offsetHeight;

            if (x > max_xpos) x = max_xpos;
            if (x < 0) x = 0;

            if (y > max_ypos) y = max_ypos;
            if (y < 0) y = 0;

            lens.style.top = `${y}px`;
            lens.style.left = `${x}px`;

            cx = zoomedImg.offsetWidth / lens.offsetWidth;
            cy = zoomedImg.offsetHeight / lens.offsetHeight;

            zoomedImg.style.background = `url('${selectedImg.src}') -${
              x * cx
            }px -${y * cy}px / ${selectedImg_rect.width * cx}px ${
              selectedImg_rect.height * cy
            }px no-repeat`;

            lens.classList.add("active");
            zoomedImg.classList.add("active");
          }

          function leaveLens() {
            lens.classList.remove("active");
            zoomedImg.classList.remove("active");
          }

          magnify(selectedImgs, zoomedImg);
        }

        const selectedImg = document.querySelector(
          ".view-product-img-selected"
        );

        if (thumbnails.length > 0) {
          const firstThumbnail = thumbnails[0];
          firstThumbnail.classList.add("selected-img");
          selectedImg.src = firstThumbnail.src;
        }

        thumbnails.forEach((thumbnail) => {
          thumbnail.addEventListener("click", () => {
            selectedImg.src = thumbnail.src;

            thumbnails.forEach((img) => {
              img.classList.remove("selected-img");
            });

            thumbnail.classList.add("selected-img");
          });
        });

        window.addEventListener("pageshow", function (event) {
          if (event.persisted) {
            window.location.reload();
          }
        });

        fetch(`/update-views/${productId}/`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrf_token,
          },
          body: JSON.stringify({ id: productId }),
        })
          .then((response) => response.json())
          .catch((error) => console.error("Error:", error));
      });

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function sendCartDataToServer() {
        const cart = JSON.parse(localStorage.getItem("cart")) || [];
        fetch('{% url "save_cart" %}', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify({ cart: cart }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.open('{% url "message" %}', "_blank");
            } else {
              console.error("Error:", data);
            }
          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });
      }

      function sendCartDataToServerCarrinho() {
        const cart = JSON.parse(localStorage.getItem("cart")) || [];
        fetch('{% url "save_cart" %}', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify({ cart: cart }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              window.open('{% url "carrinho" %}', "_blank");
            } else {
              console.error("Error:", data);
            }
          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });
      }

      document.addEventListener("DOMContentLoaded", function () {
        let cart = JSON.parse(localStorage.getItem("cart")) || [];

        document.querySelectorAll(".btn-cart").forEach((button) => {
          const productId = button.getAttribute("data-product-id");

          let productInCart = cart.find((item) => item.id === productId);

          if (productInCart) {
            button.classList.remove("btn-edit");
            button.classList.add("btn-cart-check");
            button.querySelector("img").src = "../../../media/icon/check.svg";
            button.querySelector("span").textContent = "Produto Adicionado";
          }

          button.addEventListener("click", function () {
            if (productInCart) {
              cart = cart.filter((item) => item.id !== productId);
            } else {
              cart.push({ id: productId, quantity: 1 });
            }

            localStorage.setItem("cart", JSON.stringify(cart));

            productInCart = cart.find((item) => item.id === productId);
            if (productInCart) {
              button.classList.remove("btn-edit");
              button.classList.add("btn-cart-check");
              button.querySelector("img").src = "../../../media/icon/check.svg";
              button.querySelector("span").textContent = "Produto Adicionado";
            } else {
              button.classList.remove("btn-cart-check");
              button.classList.add("btn-edit");
              button.querySelector("img").src = "../../../media/icon/cart.svg";
              button.querySelector("span").textContent =
                "Adicionar ao Carrinho";
            }
          });
        });
      });
    </script>

    {% endblock %}
  </body>
</html>
